:root {
    --text-main-color: #212121;
    --text-additional-color: #2196f3;
    --text-contact-color: #757575;
    --text-footer-contact: rgba(255, 255, 255, 0.6);
    --text-add-color: #FFFFFF;
    --bg-main-color: #FFFFFF;
    --bg-hero-color: #2F303A;
    --bg-works-color:#E5E5E5;
    --bg-team-color: #F5F4FA;
    --bg-footer-color: #2F303A;
    --bg-botton-color: #2196f3;
    --botton-hover-color: #188CE8;
}

.page{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    background-color: var(--bg-main-color);
    font-style: normal;
}

.list {
    list-style: none;
}

/* Header */
.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    width: 145px;
    height: 31px;
    color: inherit;
}
.logo-add-decor{
    color: var(--text-additional-color);
    font-family: 'Oleo Script';
    font-weight: 400;
    line-height: 1.4;
}
.site-nav,
.site-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.link{
    text-decoration: none;
    color: inherit;
}
.site-nav .link-page {
    color: var(--text-additional-color);
}
 .site-contact .mail {
    color: var(--text-additional-color);
 }
.site-contact .phone {
    color: var(--text-contact-color);
}
.link:hover,
.link:focus {
    color: var(--text-additional-color);
}

/* Hero */
.hero-decoration {
    background-color: var(--bg-hero-color);
}
.hero-title {
    color: var(--text-add-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-botton {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-add-color);
    background: var(--bg-botton-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero-botton:hover {
    background-color: var(--botton-hover-color);
}

.section-name {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
}

/* First section */
.firt-section {
    font-size: 14px;
}

.first-section .title {
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;  
}

.first-section .text {
    line-height: 1.7;
    color: var(--text-contact-color);
}
/* Second section */
/* Third section */
.third-section {
    background-color: var(--bg-team-color);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.third-section .title {
    font-weight: 500; 
}
.third-section .text {
    font-weight: 400;
    color: var(--text-contact-color);
}
/* Footer */
.footer-section {
    background-color: var(--bg-footer-color);
    color: var(--text-add-color);
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
}
.footer-section .address {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}
.footer-section .contact {
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

/* Botton section */
.botton-section {
    background-color: var(--bg-main-color);
}

.botton-decoration {
    font-family: 'Roboto';
    color: var(--text-main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    background: #F5F4FA;
    border-radius: 4px;
    letter-spacing: 0.03em;
}
.botton-activ {
    background: var(--bg-botton-color);
    color: var(--text-add-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/* Card section */
.clear-decoration {
    text-decoration: none;
    background: var(--bg-main-color)
}
.card-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0px;
    letter-spacing: 0.06em;
    color: var(--text-main-color);
}
.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--text-contact-color);
}