:root {
    --text-main-color: #212121;
    --text-additional-color: #2196f3;
    --text-contact-color: #757575;
    --text-footer-contact: rgba(255, 255, 255, 0.6);
    --text-add-color: #FFFFFF;
    --bg-main-color: #FFFFFF;
    --bg-hero-color: #2F303A;
    --bg-works-color:#E5E5E5;
    --bg-team-color: #F5F4FA;
    --bg-footer-color: #2F303A;
    --bg-botton-color: #2196f3;
    --botton-hover-color: #188CE8;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--text-main-color);
    background-color: var(--bg-main-color);
}

.list {
    list-style: none;
}

/* Header */
.link {
    text-decoration: none;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    color: var(--text-main-color);
}
.logo-add-decor{
    color: var(--text-additional-color);
}
.site-nav {
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
}
.site-nav .page-color {
    color: var(--text-main-color);
}
.site-nav .current-page-color {
    color: var(--text-additional-color);
}
 .site-nav .contact-color {
    color: var(--text-contact-color);
 }
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--text-additional-color);
}

/* Hero */
.hero-decoration {
    background-color: var(--bg-hero-color);
}
.hero-title {
    color: var(--text-add-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-add-color);
    background: var(--bg-botton-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}
.hero-button:hover {
    background-color: var(--botton-hover-color);
}

.section-title {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.166;
}

/* First section */
.firt-section {
    background-color: var(--bg-main-color);
}
.first-section .title {
    line-height: 1.142;
    font-size: 14px;
    text-transform: uppercase;
}
.first-section .text {
    line-height: 1.714;
    color: var(--text-contact-color);
}
/* Second section */
.second-section{
    background-color: var(--bg-main-color);
}
/* Third section */
.third-section {
    background-color: var(--bg-team-color);
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
}
.third-section .title {
    font-weight: 500; 
    font-size: 16px;
}
.third-section .text {
    font-weight: 400;
    color: var(--text-contact-color);
}
/* Footer */
.footer-section {
    background-color: var(--bg-footer-color);
    line-height: 1.714;
    font-weight: 400;
}
.footer-section .link{
    color: var(--text-add-color);
}
.footer-section .address {
    text-decoration: none;
    font-style: normal;
    color: var(--text-add-color);
}
.footer-section .contact {
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.footer-section .logo:hover,
.footer-section .address:hover,
.footer-section .contact:hover,
.footer-section .logo:focus
.footer-section .address:focus,
.footer-section .contact:focus {
    color: var(--text-additional-color);
}
/* Portfolio */

/* Botton part */
.portfolio-section {
    background-color: var(--bg-main-color);
}

.button-decoration {
    font-family: 'Roboto';
    color: var(--text-main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    background: #F5F4FA;
    border-radius: 4px;
    letter-spacing: 0.03em;

    cursor: pointer;
}
.button-activ {
    background: var(--bg-botton-color);
    color: var(--text-add-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.button-decoration:hover,
.button-decoration:focus {
    background: var(--bg-botton-color);
    color: var(--text-add-color);
}

/* Card part */
.card-title {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--text-main-color);
}
.card-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-contact-color);
}